In [1]:
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys
import time
import pandas as pd

# ADEL-Adani

In [2]:
driver = webdriver.Chrome('D:\chromedriver_win32.exe')
url='https://in.investing.com/equities/adani-enterprises-historical-data?end_date=1689236968&st_date=1560364200'
driver.get(url)
driver.maximize_window()
time.sleep(10)

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_16184\2436640355.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome('D:\chromedriver_win32.exe')

In [3]:
content = driver.page_source
from bs4 import BeautifulSoup
soup = BeautifulSoup(content)

In [4]:
date=[]
for a in soup.findAll('td', attrs={'class':'col-rowDate'}):
    date_txt=a.find('span', attrs={'class':'text'})
    date.append(date_txt.text)
#Closing Prices
close=[]
for a in soup.findAll('td', attrs={'class':'col-last_close'}):
    close_txt=a.find('span', attrs={'class':'text'})
    close.append(close_txt.text)
#Open Prices
open=[]
for a in soup.findAll('td', attrs={'class':'col-last_open'}):
    open_txt=a.find('span', attrs={'class':'text'})
    open.append(open_txt.text)
#High Prices
high=[]
for a in soup.findAll('td', attrs={'class':'col-last_max'}):
    high_txt=a.find('span', attrs={'class':'text'})
    high.append(high_txt.text)
#Low Prices
low=[]
for a in soup.findAll('td', attrs={'class':'col-last_min'}):
    low_txt=a.find('span', attrs={'class':'text'})
    low.append(low_txt.text)
#Volume
volume=[]
for a in soup.findAll('td', attrs={'class':'col-volume'}):
    volume_txt=a.find('span', attrs={'class':'text'})
    volume.append(volume_txt.text)
#Chnge%
chg=[]
for a in soup.findAll('td', attrs={'class':'col-change_percent'}):
    chg_txt=a.find('span', attrs={'class':'text'})
    chg.append(chg_txt.text)
    
volume = volume[:len(date)]
# Prepare DataFrame
df_nifty= pd.DataFrame({'Date':date,'Open':open,'High':high,'Low':low,'Close':close,'Volume':volume,'Chg%':chg})
df_nifty['Date'] = df_nifty['Date'].str.replace(r",","")
df_nifty['Date']=pd.to_datetime(df_nifty.Date , format = '%b %d %Y')
df_nifty=df_nifty.drop_duplicates(subset="Date") #droping dupicate data 
data = df_nifty
data['Close']=data['Close'].str.replace(r",","").astype('float')
data['Open']=data['Open'].str.replace(r",","").astype('float')
data['High']=data['High'].str.replace(r",","").astype('float')
data['Low']=data['Low'].str.replace(r",","").astype('float')
# data['Volume']=data['Volume'].astype(str)
# data['Chg%']=data['Chg%'].astype(str)
data

           Date     Open     High      Low    Close Volume    Chg%
0    2023-07-13  2392.05  2405.70  2357.10  2357.10  1.19M  -1.29%
1    2023-07-12  2429.90  2432.00  2380.45  2387.90  1.45M  -1.44%
2    2023-07-11  2423.75  2444.95  2388.00  2422.90  2.25M   0.52%
3    2023-07-10  2392.80  2462.70  2355.00  2410.25  3.77M   1.29%
4    2023-07-07  2395.00  2409.95  2368.10  2379.60  1.82M  -0.97%
...         ...      ...      ...      ...      ...    ...     ...
1008 2019-06-19   148.45   149.75   140.60   142.80  4.74M  -3.48%
1009 2019-06-18   147.35   148.85   144.00   147.95  5.76M   0.03%
1010 2019-06-17   153.00   153.95   147.25   147.90  3.47M  -2.98%
1011 2019-06-14   156.00   156.00   151.55   152.45  6.59M  -0.42%
1012 2019-06-13   153.20   158.85   149.00   153.10  7.97M  -0.07%

[1013 rows x 7 columns]

In [5]:
data.isnull().sum()

Date      0
Open      0
High      0
Low       0
Close     0
Volume    0
Chg%      0
dtype: int64

In [6]:
data.to_excel('ADEL.xlsx', index=False)

# Wipro Ltd

In [7]:
driver = webdriver.Chrome('D:\chromedriver_win32.exe')
url='https://in.investing.com/equities/wipro-ltd-historical-data?end_date=1689242160&st_date=1560364200'
driver.get(url)
driver.maximize_window()
time.sleep(10)

content = driver.page_source
from bs4 import BeautifulSoup
soup = BeautifulSoup(content)



date=[]
for a in soup.findAll('td', attrs={'class':'col-rowDate'}):
    date_txt=a.find('span', attrs={'class':'text'})
    date.append(date_txt.text)
#Closing Prices
close=[]
for a in soup.findAll('td', attrs={'class':'col-last_close'}):
    close_txt=a.find('span', attrs={'class':'text'})
    close.append(close_txt.text)
#Open Prices
open=[]
for a in soup.findAll('td', attrs={'class':'col-last_open'}):
    open_txt=a.find('span', attrs={'class':'text'})
    open.append(open_txt.text)
#High Prices
high=[]
for a in soup.findAll('td', attrs={'class':'col-last_max'}):
    high_txt=a.find('span', attrs={'class':'text'})
    high.append(high_txt.text)
#Low Prices
low=[]
for a in soup.findAll('td', attrs={'class':'col-last_min'}):
    low_txt=a.find('span', attrs={'class':'text'})
    low.append(low_txt.text)
#Volume
volume=[]
for a in soup.findAll('td', attrs={'class':'col-volume'}):
    volume_txt=a.find('span', attrs={'class':'text'})
    volume.append(volume_txt.text)
#Chnge%
chg=[]
for a in soup.findAll('td', attrs={'class':'col-change_percent'}):
    chg_txt=a.find('span', attrs={'class':'text'})
    chg.append(chg_txt.text)
    
volume = volume[:len(date)]
# Prepare DataFrame
df_nifty= pd.DataFrame({'Date':date,'Open':open,'High':high,'Low':low,'Close':close,'Volume':volume,'Chg%':chg})
df_nifty['Date'] = df_nifty['Date'].str.replace(r",","")
df_nifty['Date']=pd.to_datetime(df_nifty.Date , format = '%b %d %Y')
df_nifty=df_nifty.drop_duplicates(subset="Date") #droping dupicate data 
data = df_nifty
data['Close']=data['Close'].str.replace(r",","").astype('float')
data['Open']=data['Open'].str.replace(r",","").astype('float')
data['High']=data['High'].str.replace(r",","").astype('float')
data['Low']=data['Low'].str.replace(r",","").astype('float')
# data['Volume']=data['Volume'].astype(str)
# data['Chg%']=data['Chg%'].astype(str)
data

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_16184\2939910829.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome('D:\chromedriver_win32.exe')

           Date    Open    High     Low   Close  Volume    Chg%
0    2023-07-13  391.85  398.55  391.80  394.30   6.75M   0.63%
1    2023-07-12  393.90  393.95  390.35  391.85   3.42M  -0.05%
2    2023-07-11  390.00  392.80  387.85  392.05   4.82M   0.54%
3    2023-07-10  395.85  395.85  389.65  389.95   2.82M  -1.49%
4    2023-07-07  395.00  397.45  393.20  395.85   4.53M  -0.09%
...         ...     ...     ...     ...     ...     ...     ...
1008 2019-06-19  299.00  299.20  292.15  294.05  11.90M  -1.33%
1009 2019-06-18  299.50  300.50  296.00  298.00   8.40M  -0.38%
1010 2019-06-17  300.00  300.75  298.85  299.15   6.18M   0.12%
1011 2019-06-14  298.75  301.60  298.00  298.80   7.97M   0.13%
1012 2019-06-13  298.00  298.90  297.15  298.40   5.00M   0.13%

[1013 rows x 7 columns]

In [9]:
data.isnull().sum()

Date      0
Open      0
High      0
Low       0
Close     0
Volume    0
Chg%      0
dtype: int64

In [8]:
data.to_excel('Wipro_Ltd.xlsx', index=False)

# UPL Ltd

In [10]:
driver = webdriver.Chrome('D:\chromedriver_win32.exe')
url='https://in.investing.com/equities/united-phosphorus-historical-data?end_date=1689242520&st_date=1560364200'
driver.get(url)
driver.maximize_window()
time.sleep(10)

content = driver.page_source
from bs4 import BeautifulSoup
soup = BeautifulSoup(content)



date=[]
for a in soup.findAll('td', attrs={'class':'col-rowDate'}):
    date_txt=a.find('span', attrs={'class':'text'})
    date.append(date_txt.text)
#Closing Prices
close=[]
for a in soup.findAll('td', attrs={'class':'col-last_close'}):
    close_txt=a.find('span', attrs={'class':'text'})
    close.append(close_txt.text)
#Open Prices
open=[]
for a in soup.findAll('td', attrs={'class':'col-last_open'}):
    open_txt=a.find('span', attrs={'class':'text'})
    open.append(open_txt.text)
#High Prices
high=[]
for a in soup.findAll('td', attrs={'class':'col-last_max'}):
    high_txt=a.find('span', attrs={'class':'text'})
    high.append(high_txt.text)
#Low Prices
low=[]
for a in soup.findAll('td', attrs={'class':'col-last_min'}):
    low_txt=a.find('span', attrs={'class':'text'})
    low.append(low_txt.text)
#Volume
volume=[]
for a in soup.findAll('td', attrs={'class':'col-volume'}):
    volume_txt=a.find('span', attrs={'class':'text'})
    volume.append(volume_txt.text)
#Chnge%
chg=[]
for a in soup.findAll('td', attrs={'class':'col-change_percent'}):
    chg_txt=a.find('span', attrs={'class':'text'})
    chg.append(chg_txt.text)
    
volume = volume[:len(date)]
# Prepare DataFrame
df_nifty= pd.DataFrame({'Date':date,'Open':open,'High':high,'Low':low,'Close':close,'Volume':volume,'Chg%':chg})
df_nifty['Date'] = df_nifty['Date'].str.replace(r",","")
df_nifty['Date']=pd.to_datetime(df_nifty.Date , format = '%b %d %Y')
df_nifty=df_nifty.drop_duplicates(subset="Date") #droping dupicate data 
data = df_nifty
data['Close']=data['Close'].str.replace(r",","").astype('float')
data['Open']=data['Open'].str.replace(r",","").astype('float')
data['High']=data['High'].str.replace(r",","").astype('float')
data['Low']=data['Low'].str.replace(r",","").astype('float')
# data['Volume']=data['Volume'].astype(str)
# data['Chg%']=data['Chg%'].astype(str)
data

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_16184\209549382.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome('D:\chromedriver_win32.exe')

           Date    Open    High     Low   Close Volume    Chg%
0    2023-07-13  643.05  645.15  630.00  632.70  4.72M  -1.73%
1    2023-07-12  647.85  651.20  642.50  643.85  2.36M  -0.06%
2    2023-07-11  654.95  654.95  640.15  644.25  3.87M  -2.40%
3    2023-07-10  666.50  666.50  658.85  660.10  1.53M  -0.44%
4    2023-07-07  672.85  676.00  661.80  663.00  2.92M  -1.45%
...         ...     ...     ...     ...     ...    ...     ...
1008 2019-06-19  668.67  670.57  624.60  633.53  3.99M  -4.94%
1009 2019-06-18  662.67  669.00  658.67  666.47  1.69M   0.48%
1010 2019-06-17  671.67  675.87  660.67  663.30  2.16M  -1.10%
1011 2019-06-14  670.00  676.33  664.30  670.67  1.57M   0.10%
1012 2019-06-13  679.67  680.67  655.67  670.00  3.81M  -1.54%

[1013 rows x 7 columns]

In [34]:
data.isnull().sum()

Date      0
Open      0
High      0
Low       0
Close     0
Volume    0
Chg%      0
dtype: int64

In [11]:
data.to_excel('UPL_Ltd.xlsx', index=False)

# UltraTech Cement(ULTC)

In [12]:
driver = webdriver.Chrome('D:\chromedriver_win32.exe')
url='https://in.investing.com/equities/ultratech-cement-historical-data?end_date=1689242787&st_date=1560364200'
driver.get(url)
driver.maximize_window()
time.sleep(10)

content = driver.page_source
from bs4 import BeautifulSoup
soup = BeautifulSoup(content)



date=[]
for a in soup.findAll('td', attrs={'class':'col-rowDate'}):
    date_txt=a.find('span', attrs={'class':'text'})
    date.append(date_txt.text)
#Closing Prices
close=[]
for a in soup.findAll('td', attrs={'class':'col-last_close'}):
    close_txt=a.find('span', attrs={'class':'text'})
    close.append(close_txt.text)
#Open Prices
open=[]
for a in soup.findAll('td', attrs={'class':'col-last_open'}):
    open_txt=a.find('span', attrs={'class':'text'})
    open.append(open_txt.text)
#High Prices
high=[]
for a in soup.findAll('td', attrs={'class':'col-last_max'}):
    high_txt=a.find('span', attrs={'class':'text'})
    high.append(high_txt.text)
#Low Prices
low=[]
for a in soup.findAll('td', attrs={'class':'col-last_min'}):
    low_txt=a.find('span', attrs={'class':'text'})
    low.append(low_txt.text)
#Volume
volume=[]
for a in soup.findAll('td', attrs={'class':'col-volume'}):
    volume_txt=a.find('span', attrs={'class':'text'})
    volume.append(volume_txt.text)
#Chnge%
chg=[]
for a in soup.findAll('td', attrs={'class':'col-change_percent'}):
    chg_txt=a.find('span', attrs={'class':'text'})
    chg.append(chg_txt.text)
    
volume = volume[:len(date)]
# Prepare DataFrame
df_nifty= pd.DataFrame({'Date':date,'Open':open,'High':high,'Low':low,'Close':close,'Volume':volume,'Chg%':chg})
df_nifty['Date'] = df_nifty['Date'].str.replace(r",","")
df_nifty['Date']=pd.to_datetime(df_nifty.Date , format = '%b %d %Y')
df_nifty=df_nifty.drop_duplicates(subset="Date") #droping dupicate data 
data = df_nifty
data['Close']=data['Close'].str.replace(r",","").astype('float')
data['Open']=data['Open'].str.replace(r",","").astype('float')
data['High']=data['High'].str.replace(r",","").astype('float')
data['Low']=data['Low'].str.replace(r",","").astype('float')
# data['Volume']=data['Volume'].astype(str)
# data['Chg%']=data['Chg%'].astype(str)
data

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_16184\3236599398.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome('D:\chromedriver_win32.exe')

           Date     Open     High      Low    Close   Volume    Chg%
0    2023-07-13  8233.15  8350.00  8206.65  8275.00  272.76K   0.66%
1    2023-07-12  8364.00  8373.35  8152.50  8220.50  508.97K  -1.27%
2    2023-07-11  8395.30  8443.30  8305.05  8325.90  300.38K  -0.30%
3    2023-07-10  8350.00  8434.45  8336.00  8351.35  173.23K   0.18%
4    2023-07-07  8417.95  8447.40  8325.60  8336.45  354.70K  -0.88%
...         ...      ...      ...      ...      ...      ...     ...
1008 2019-06-19  4537.70  4560.00  4432.90  4485.00  314.85K  -0.59%
1009 2019-06-18  4437.25  4536.00  4437.05  4511.45  259.25K   1.26%
1010 2019-06-17  4518.00  4518.00  4433.50  4455.30  282.29K  -1.03%
1011 2019-06-14  4559.00  4574.90  4480.00  4501.75  296.89K  -1.50%
1012 2019-06-13  4565.00  4579.45  4543.10  4570.20  265.30K   0.02%

[1013 rows x 7 columns]

In [35]:
data.isnull().sum()

Date      0
Open      0
High      0
Low       0
Close     0
Volume    0
Chg%      0
dtype: int64

In [13]:
data.to_excel('UltraTech(ULTC).xlsx', index=False)

# Titan Industries(TITN)

In [14]:
driver = webdriver.Chrome('D:\chromedriver_win32.exe')
url='https://in.investing.com/equities/titan-industries-historical-data?end_date=1689242998&st_date=1560364200'
driver.get(url)
driver.maximize_window()
time.sleep(10)

content = driver.page_source
from bs4 import BeautifulSoup
soup = BeautifulSoup(content)



date=[]
for a in soup.findAll('td', attrs={'class':'col-rowDate'}):
    date_txt=a.find('span', attrs={'class':'text'})
    date.append(date_txt.text)
#Closing Prices
close=[]
for a in soup.findAll('td', attrs={'class':'col-last_close'}):
    close_txt=a.find('span', attrs={'class':'text'})
    close.append(close_txt.text)
#Open Prices
open=[]
for a in soup.findAll('td', attrs={'class':'col-last_open'}):
    open_txt=a.find('span', attrs={'class':'text'})
    open.append(open_txt.text)
#High Prices
high=[]
for a in soup.findAll('td', attrs={'class':'col-last_max'}):
    high_txt=a.find('span', attrs={'class':'text'})
    high.append(high_txt.text)
#Low Prices
low=[]
for a in soup.findAll('td', attrs={'class':'col-last_min'}):
    low_txt=a.find('span', attrs={'class':'text'})
    low.append(low_txt.text)
#Volume
volume=[]
for a in soup.findAll('td', attrs={'class':'col-volume'}):
    volume_txt=a.find('span', attrs={'class':'text'})
    volume.append(volume_txt.text)
#Chnge%
chg=[]
for a in soup.findAll('td', attrs={'class':'col-change_percent'}):
    chg_txt=a.find('span', attrs={'class':'text'})
    chg.append(chg_txt.text)
    
volume = volume[:len(date)]
# Prepare DataFrame
df_nifty= pd.DataFrame({'Date':date,'Open':open,'High':high,'Low':low,'Close':close,'Volume':volume,'Chg%':chg})
df_nifty['Date'] = df_nifty['Date'].str.replace(r",","")
df_nifty['Date']=pd.to_datetime(df_nifty.Date , format = '%b %d %Y')
df_nifty=df_nifty.drop_duplicates(subset="Date") #droping dupicate data 
data = df_nifty
data['Close']=data['Close'].str.replace(r",","").astype('float')
data['Open']=data['Open'].str.replace(r",","").astype('float')
data['High']=data['High'].str.replace(r",","").astype('float')
data['Low']=data['Low'].str.replace(r",","").astype('float')
# data['Volume']=data['Volume'].astype(str)
# data['Chg%']=data['Chg%'].astype(str)
data

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_16184\2708616061.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome('D:\chromedriver_win32.exe')

           Date     Open     High      Low    Close   Volume    Chg%
0    2023-07-13  3112.00  3113.50  3079.60  3090.00  932.00K  -0.21%
1    2023-07-12  3114.00  3124.00  3087.65  3096.50    1.30M   0.29%
2    2023-07-11  3062.85  3098.00  3044.80  3087.60    1.14M   1.38%
3    2023-07-10  3155.00  3155.00  3030.25  3045.55    1.78M  -3.13%
4    2023-07-07  3140.00  3210.00  3126.40  3144.00    3.63M   1.21%
...         ...      ...      ...      ...      ...      ...     ...
1008 2019-06-19  1280.00  1288.00  1257.65  1275.10    1.65M   1.40%
1009 2019-06-18  1256.05  1261.00  1235.00  1257.50    1.85M   0.12%
1010 2019-06-17  1286.00  1292.55  1248.50  1256.05    2.06M  -2.02%
1011 2019-06-14  1296.05  1297.95  1277.10  1281.90  874.48K  -1.05%
1012 2019-06-13  1283.00  1298.25  1276.40  1295.45    1.73M   0.51%

[1013 rows x 7 columns]

In [36]:
data.isnull().sum()

Date      0
Open      0
High      0
Low       0
Close     0
Volume    0
Chg%      0
dtype: int64

In [15]:
data.to_excel('Titan_Industries(TITN).xlsx', index=False)

# Tech Mahindra (TEML)

In [16]:
driver = webdriver.Chrome('D:\chromedriver_win32.exe')
url='https://in.investing.com/equities/tech-mahindra-historical-data?end_date=1689243182&st_date=1560364200'
driver.get(url)
driver.maximize_window()
time.sleep(10)

content = driver.page_source
from bs4 import BeautifulSoup
soup = BeautifulSoup(content)



date=[]
for a in soup.findAll('td', attrs={'class':'col-rowDate'}):
    date_txt=a.find('span', attrs={'class':'text'})
    date.append(date_txt.text)
#Closing Prices
close=[]
for a in soup.findAll('td', attrs={'class':'col-last_close'}):
    close_txt=a.find('span', attrs={'class':'text'})
    close.append(close_txt.text)
#Open Prices
open=[]
for a in soup.findAll('td', attrs={'class':'col-last_open'}):
    open_txt=a.find('span', attrs={'class':'text'})
    open.append(open_txt.text)
#High Prices
high=[]
for a in soup.findAll('td', attrs={'class':'col-last_max'}):
    high_txt=a.find('span', attrs={'class':'text'})
    high.append(high_txt.text)
#Low Prices
low=[]
for a in soup.findAll('td', attrs={'class':'col-last_min'}):
    low_txt=a.find('span', attrs={'class':'text'})
    low.append(low_txt.text)
#Volume
volume=[]
for a in soup.findAll('td', attrs={'class':'col-volume'}):
    volume_txt=a.find('span', attrs={'class':'text'})
    volume.append(volume_txt.text)
#Chnge%
chg=[]
for a in soup.findAll('td', attrs={'class':'col-change_percent'}):
    chg_txt=a.find('span', attrs={'class':'text'})
    chg.append(chg_txt.text)
    
volume = volume[:len(date)]
# Prepare DataFrame
df_nifty= pd.DataFrame({'Date':date,'Open':open,'High':high,'Low':low,'Close':close,'Volume':volume,'Chg%':chg})
df_nifty['Date'] = df_nifty['Date'].str.replace(r",","")
df_nifty['Date']=pd.to_datetime(df_nifty.Date , format = '%b %d %Y')
df_nifty=df_nifty.drop_duplicates(subset="Date") #droping dupicate data 
data = df_nifty
data['Close']=data['Close'].str.replace(r",","").astype('float')
data['Open']=data['Open'].str.replace(r",","").astype('float')
data['High']=data['High'].str.replace(r",","").astype('float')
data['Low']=data['Low'].str.replace(r",","").astype('float')
# data['Volume']=data['Volume'].astype(str)
# data['Chg%']=data['Chg%'].astype(str)
data

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_16184\2318603221.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome('D:\chromedriver_win32.exe')

           Date     Open     High      Low    Close Volume    Chg%
0    2023-07-13  1157.00  1191.60  1154.35  1175.25  3.22M   1.37%
1    2023-07-12  1166.00  1169.00  1153.45  1159.40  1.27M  -0.18%
2    2023-07-11  1154.65  1166.20  1145.10  1161.45  1.21M   1.25%
3    2023-07-10  1159.95  1159.95  1135.60  1147.15  2.09M  -0.77%
4    2023-07-07  1170.00  1184.30  1151.25  1156.00  2.26M  -1.97%
...         ...      ...      ...      ...      ...    ...     ...
1008 2019-06-19   742.00   744.30   729.55   735.60  1.95M  -0.80%
1009 2019-06-18   737.90   744.40   736.05   741.55  1.65M   0.68%
1010 2019-06-17   740.00   743.15   734.05   736.55  1.33M  -0.50%
1011 2019-06-14   744.00   746.65   735.30   740.25  1.35M  -0.52%
1012 2019-06-13   744.00   752.70   738.50   744.10  2.39M  -0.51%

[1013 rows x 7 columns]

In [37]:
data.isnull().sum()

Date      0
Open      0
High      0
Low       0
Close     0
Volume    0
Chg%      0
dtype: int64

In [17]:
data.to_excel('Tech_Mahindra(TEML).xlsx', index=False)

# Tata_Consultancy(TCS)

In [18]:
driver = webdriver.Chrome('D:\chromedriver_win32.exe')
url='https://in.investing.com/equities/tata-consultancy-services-historical-data?end_date=1689243599&st_date=1560364200'
driver.get(url)
driver.maximize_window()
time.sleep(10)

content = driver.page_source
from bs4 import BeautifulSoup
soup = BeautifulSoup(content)



date=[]
for a in soup.findAll('td', attrs={'class':'col-rowDate'}):
    date_txt=a.find('span', attrs={'class':'text'})
    date.append(date_txt.text)
#Closing Prices
close=[]
for a in soup.findAll('td', attrs={'class':'col-last_close'}):
    close_txt=a.find('span', attrs={'class':'text'})
    close.append(close_txt.text)
#Open Prices
open=[]
for a in soup.findAll('td', attrs={'class':'col-last_open'}):
    open_txt=a.find('span', attrs={'class':'text'})
    open.append(open_txt.text)
#High Prices
high=[]
for a in soup.findAll('td', attrs={'class':'col-last_max'}):
    high_txt=a.find('span', attrs={'class':'text'})
    high.append(high_txt.text)
#Low Prices
low=[]
for a in soup.findAll('td', attrs={'class':'col-last_min'}):
    low_txt=a.find('span', attrs={'class':'text'})
    low.append(low_txt.text)
#Volume
volume=[]
for a in soup.findAll('td', attrs={'class':'col-volume'}):
    volume_txt=a.find('span', attrs={'class':'text'})
    volume.append(volume_txt.text)
#Chnge%
chg=[]
for a in soup.findAll('td', attrs={'class':'col-change_percent'}):
    chg_txt=a.find('span', attrs={'class':'text'})
    chg.append(chg_txt.text)
    
volume = volume[:len(date)]
# Prepare DataFrame
df_nifty= pd.DataFrame({'Date':date,'Open':open,'High':high,'Low':low,'Close':close,'Volume':volume,'Chg%':chg})
df_nifty['Date'] = df_nifty['Date'].str.replace(r",","")
df_nifty['Date']=pd.to_datetime(df_nifty.Date , format = '%b %d %Y')
df_nifty=df_nifty.drop_duplicates(subset="Date") #droping dupicate data 
data = df_nifty
data['Close']=data['Close'].str.replace(r",","").astype('float')
data['Open']=data['Open'].str.replace(r",","").astype('float')
data['High']=data['High'].str.replace(r",","").astype('float')
data['Low']=data['Low'].str.replace(r",","").astype('float')
# data['Volume']=data['Volume'].astype(str)
# data['Chg%']=data['Chg%'].astype(str)
data

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_16184\261689917.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome('D:\chromedriver_win32.exe')

           Date     Open     High      Low    Close Volume    Chg%
0    2023-07-13  3277.65  3366.95  3275.25  3340.55  4.58M   2.47%
1    2023-07-12  3280.95  3289.15  3250.10  3259.90  1.52M  -0.38%
2    2023-07-11  3295.00  3295.00  3260.80  3272.40  1.11M   0.01%
3    2023-07-10  3324.75  3324.75  3265.20  3271.95  1.41M  -1.72%
4    2023-07-07  3302.00  3356.90  3302.00  3329.25  1.79M   0.19%
...         ...      ...      ...      ...      ...    ...     ...
1008 2019-06-19  2210.92  2231.51  2199.30  2215.73  1.65M   0.40%
1009 2019-06-18  2200.14  2215.82  2187.59  2206.85  1.88M   0.07%
1010 2019-06-17  2211.90  2217.78  2197.64  2205.23  1.49M  -0.24%
1011 2019-06-14  2213.13  2218.86  2190.33  2210.43  2.13M   0.02%
1012 2019-06-13  2219.75  2240.34  2199.21  2210.04  3.32M  -0.30%

[1013 rows x 7 columns]

In [38]:
data.isnull().sum()

Date      0
Open      0
High      0
Low       0
Close     0
Volume    0
Chg%      0
dtype: int64

In [19]:
data.to_excel('Tata_Consultancy(TCS).xlsx', index=False)

# Tata Steel Ltd(TISC)

In [20]:
driver = webdriver.Chrome('D:\chromedriver_win32.exe')
url='https://in.investing.com/equities/tata-steel-historical-data?end_date=1689243758&st_date=1560364200'
driver.get(url)
driver.maximize_window()
time.sleep(10)

content = driver.page_source
from bs4 import BeautifulSoup
soup = BeautifulSoup(content)



date=[]
for a in soup.findAll('td', attrs={'class':'col-rowDate'}):
    date_txt=a.find('span', attrs={'class':'text'})
    date.append(date_txt.text)
#Closing Prices
close=[]
for a in soup.findAll('td', attrs={'class':'col-last_close'}):
    close_txt=a.find('span', attrs={'class':'text'})
    close.append(close_txt.text)
#Open Prices
open=[]
for a in soup.findAll('td', attrs={'class':'col-last_open'}):
    open_txt=a.find('span', attrs={'class':'text'})
    open.append(open_txt.text)
#High Prices
high=[]
for a in soup.findAll('td', attrs={'class':'col-last_max'}):
    high_txt=a.find('span', attrs={'class':'text'})
    high.append(high_txt.text)
#Low Prices
low=[]
for a in soup.findAll('td', attrs={'class':'col-last_min'}):
    low_txt=a.find('span', attrs={'class':'text'})
    low.append(low_txt.text)
#Volume
volume=[]
for a in soup.findAll('td', attrs={'class':'col-volume'}):
    volume_txt=a.find('span', attrs={'class':'text'})
    volume.append(volume_txt.text)
#Chnge%
chg=[]
for a in soup.findAll('td', attrs={'class':'col-change_percent'}):
    chg_txt=a.find('span', attrs={'class':'text'})
    chg.append(chg_txt.text)
    
volume = volume[:len(date)]
# Prepare DataFrame
df_nifty= pd.DataFrame({'Date':date,'Open':open,'High':high,'Low':low,'Close':close,'Volume':volume,'Chg%':chg})
df_nifty['Date'] = df_nifty['Date'].str.replace(r",","")
df_nifty['Date']=pd.to_datetime(df_nifty.Date , format = '%b %d %Y')
df_nifty=df_nifty.drop_duplicates(subset="Date") #droping dupicate data 
data = df_nifty
data['Close']=data['Close'].str.replace(r",","").astype('float')
data['Open']=data['Open'].str.replace(r",","").astype('float')
data['High']=data['High'].str.replace(r",","").astype('float')
data['Low']=data['Low'].str.replace(r",","").astype('float')
# data['Volume']=data['Volume'].astype(str)
# data['Chg%']=data['Chg%'].astype(str)
data

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_16184\911914290.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome('D:\chromedriver_win32.exe')

           Date    Open    High     Low   Close   Volume    Chg%
0    2023-07-13  115.80  116.95  114.55  114.95   44.83M   0.22%
1    2023-07-12  115.15  116.05  114.00  114.70   32.77M  -0.39%
2    2023-07-11  115.60  116.10  114.80  115.15   38.00M  -0.13%
3    2023-07-10  112.25  115.70  111.65  115.30   60.65M   3.32%
4    2023-07-07  112.00  113.30  111.25  111.60   30.03M  -0.93%
...         ...     ...     ...     ...     ...      ...     ...
1009 2019-06-19   48.21   49.84   48.21   49.41  188.38M   4.62%
1010 2019-06-18   47.33   47.85   46.37   47.23  106.39M  -0.17%
1011 2019-06-17   50.01   50.09   47.20   47.31  119.38M  -5.72%
1012 2019-06-14   49.91   50.85   49.70   50.18   66.06M  -0.16%
1013 2019-06-13   50.40   50.59   49.66   50.26   72.25M  -0.65%

[1014 rows x 7 columns]

In [39]:
data.isnull().sum()

Date      0
Open      0
High      0
Low       0
Close     0
Volume    0
Chg%      0
dtype: int64

In [21]:
data.to_excel('Tata_Steel_Ltd(TISC).xlsx', index=False)

# Tata Motors Ltd (TAMO)

In [22]:
driver = webdriver.Chrome('D:\chromedriver_win32.exe')
url='https://in.investing.com/equities/tata-motors-ltd-historical-data?end_date=1689243952&st_date=1560364200'
driver.get(url)
driver.maximize_window()
time.sleep(10)

content = driver.page_source
from bs4 import BeautifulSoup
soup = BeautifulSoup(content)



date=[]
for a in soup.findAll('td', attrs={'class':'col-rowDate'}):
    date_txt=a.find('span', attrs={'class':'text'})
    date.append(date_txt.text)
#Closing Prices
close=[]
for a in soup.findAll('td', attrs={'class':'col-last_close'}):
    close_txt=a.find('span', attrs={'class':'text'})
    close.append(close_txt.text)
#Open Prices
open=[]
for a in soup.findAll('td', attrs={'class':'col-last_open'}):
    open_txt=a.find('span', attrs={'class':'text'})
    open.append(open_txt.text)
#High Prices
high=[]
for a in soup.findAll('td', attrs={'class':'col-last_max'}):
    high_txt=a.find('span', attrs={'class':'text'})
    high.append(high_txt.text)
#Low Prices
low=[]
for a in soup.findAll('td', attrs={'class':'col-last_min'}):
    low_txt=a.find('span', attrs={'class':'text'})
    low.append(low_txt.text)
#Volume
volume=[]
for a in soup.findAll('td', attrs={'class':'col-volume'}):
    volume_txt=a.find('span', attrs={'class':'text'})
    volume.append(volume_txt.text)
#Chnge%
chg=[]
for a in soup.findAll('td', attrs={'class':'col-change_percent'}):
    chg_txt=a.find('span', attrs={'class':'text'})
    chg.append(chg_txt.text)
    
volume = volume[:len(date)]
# Prepare DataFrame
df_nifty= pd.DataFrame({'Date':date,'Open':open,'High':high,'Low':low,'Close':close,'Volume':volume,'Chg%':chg})
df_nifty['Date'] = df_nifty['Date'].str.replace(r",","")
df_nifty['Date']=pd.to_datetime(df_nifty.Date , format = '%b %d %Y')
df_nifty=df_nifty.drop_duplicates(subset="Date") #droping dupicate data 
data = df_nifty
data['Close']=data['Close'].str.replace(r",","").astype('float')
data['Open']=data['Open'].str.replace(r",","").astype('float')
data['High']=data['High'].str.replace(r",","").astype('float')
data['Low']=data['Low'].str.replace(r",","").astype('float')
# data['Volume']=data['Volume'].astype(str)
# data['Chg%']=data['Chg%'].astype(str)
data

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_16184\427258996.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome('D:\chromedriver_win32.exe')

           Date    Open    High     Low   Close  Volume    Chg%
0    2023-07-13  623.55  626.35  615.60  620.65   9.69M  -0.13%
1    2023-07-12  629.95  630.80  619.35  621.45  10.79M  -1.12%
2    2023-07-11  624.95  630.45  622.15  628.50  12.05M   1.59%
3    2023-07-10  624.00  634.80  617.55  618.65  23.80M   0.07%
4    2023-07-07  600.00  624.80  592.20  618.20  21.07M   2.90%
...         ...     ...     ...     ...     ...     ...     ...
1008 2019-06-19  160.00  163.75  152.50  154.65  25.26M  -2.31%
1009 2019-06-18  159.00  161.00  156.75  158.30  14.00M  -0.28%
1010 2019-06-17  163.75  164.15  158.00  158.75  14.38M  -3.32%
1011 2019-06-14  167.50  167.50  163.50  164.20  10.92M  -1.91%
1012 2019-06-13  166.90  168.90  164.50  167.40  15.14M  -0.98%

[1013 rows x 7 columns]

In [40]:
data.isnull().sum()

Date      0
Open      0
High      0
Low       0
Close     0
Volume    0
Chg%      0
dtype: int64

In [23]:
data.to_excel('Tata_Motors_Ltd(TAMO).xlsx', index=False)

# Tata Consumer Products Ltd (TACN)

In [24]:
driver = webdriver.Chrome('D:\chromedriver_win32.exe')
url='https://in.investing.com/equities/tata-global-beverages-historical-data?end_date=1689244110&st_date=1560364200'
driver.get(url)
driver.maximize_window()
time.sleep(10)

content = driver.page_source
from bs4 import BeautifulSoup
soup = BeautifulSoup(content)



date=[]
for a in soup.findAll('td', attrs={'class':'col-rowDate'}):
    date_txt=a.find('span', attrs={'class':'text'})
    date.append(date_txt.text)
#Closing Prices
close=[]
for a in soup.findAll('td', attrs={'class':'col-last_close'}):
    close_txt=a.find('span', attrs={'class':'text'})
    close.append(close_txt.text)
#Open Prices
open=[]
for a in soup.findAll('td', attrs={'class':'col-last_open'}):
    open_txt=a.find('span', attrs={'class':'text'})
    open.append(open_txt.text)
#High Prices
high=[]
for a in soup.findAll('td', attrs={'class':'col-last_max'}):
    high_txt=a.find('span', attrs={'class':'text'})
    high.append(high_txt.text)
#Low Prices
low=[]
for a in soup.findAll('td', attrs={'class':'col-last_min'}):
    low_txt=a.find('span', attrs={'class':'text'})
    low.append(low_txt.text)
#Volume
volume=[]
for a in soup.findAll('td', attrs={'class':'col-volume'}):
    volume_txt=a.find('span', attrs={'class':'text'})
    volume.append(volume_txt.text)
#Chnge%
chg=[]
for a in soup.findAll('td', attrs={'class':'col-change_percent'}):
    chg_txt=a.find('span', attrs={'class':'text'})
    chg.append(chg_txt.text)
    
volume = volume[:len(date)]
# Prepare DataFrame
df_nifty= pd.DataFrame({'Date':date,'Open':open,'High':high,'Low':low,'Close':close,'Volume':volume,'Chg%':chg})
df_nifty['Date'] = df_nifty['Date'].str.replace(r",","")
df_nifty['Date']=pd.to_datetime(df_nifty.Date , format = '%b %d %Y')
df_nifty=df_nifty.drop_duplicates(subset="Date") #droping dupicate data 
data = df_nifty
data['Close']=data['Close'].str.replace(r",","").astype('float')
data['Open']=data['Open'].str.replace(r",","").astype('float')
data['High']=data['High'].str.replace(r",","").astype('float')
data['Low']=data['Low'].str.replace(r",","").astype('float')
# data['Volume']=data['Volume'].astype(str)
# data['Chg%']=data['Chg%'].astype(str)
data

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_16184\608327357.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome('D:\chromedriver_win32.exe')

           Date    Open    High     Low   Close   Volume    Chg%
0    2023-07-13  847.00  849.00  835.35  837.35  985.90K  -0.70%
1    2023-07-12  844.95  847.80  838.80  843.25    1.44M   0.35%
2    2023-07-11  826.00  843.00  825.75  840.30    2.17M   1.77%
3    2023-07-10  841.50  841.50  822.00  825.65    1.18M  -0.91%
4    2023-07-07  845.05  852.50  831.80  833.25    1.81M  -1.40%
...         ...     ...     ...     ...     ...      ...     ...
1008 2019-06-19  248.60  250.20  243.15  245.30    2.50M  -1.01%
1009 2019-06-18  246.25  248.65  245.05  247.80    1.75M   0.85%
1010 2019-06-17  246.50  251.80  243.35  245.70    1.82M  -0.55%
1011 2019-06-14  253.00  254.85  246.10  247.05    1.91M  -2.68%
1012 2019-06-13  255.20  255.90  251.15  253.85    1.23M  -0.51%

[1013 rows x 7 columns]

In [25]:
data.to_excel('Tata Consumer Products Ltd (TACN).xlsx', index=False)

In [41]:
data.isnull().sum()

Date      0
Open      0
High      0
Low       0
Close     0
Volume    0
Chg%      0
dtype: int64

# Sun Pharmaceutical Industries Ltd. (SUN)

In [26]:
driver = webdriver.Chrome('D:\chromedriver_win32.exe')
url='https://in.investing.com/equities/sun-pharma-advanced-research-historical-data?end_date=1689244295&st_date=1560364200'
driver.get(url)
driver.maximize_window()
time.sleep(10)

content = driver.page_source
from bs4 import BeautifulSoup
soup = BeautifulSoup(content)



date=[]
for a in soup.findAll('td', attrs={'class':'col-rowDate'}):
    date_txt=a.find('span', attrs={'class':'text'})
    date.append(date_txt.text)
#Closing Prices
close=[]
for a in soup.findAll('td', attrs={'class':'col-last_close'}):
    close_txt=a.find('span', attrs={'class':'text'})
    close.append(close_txt.text)
#Open Prices
open=[]
for a in soup.findAll('td', attrs={'class':'col-last_open'}):
    open_txt=a.find('span', attrs={'class':'text'})
    open.append(open_txt.text)
#High Prices
high=[]
for a in soup.findAll('td', attrs={'class':'col-last_max'}):
    high_txt=a.find('span', attrs={'class':'text'})
    high.append(high_txt.text)
#Low Prices
low=[]
for a in soup.findAll('td', attrs={'class':'col-last_min'}):
    low_txt=a.find('span', attrs={'class':'text'})
    low.append(low_txt.text)
#Volume
volume=[]
for a in soup.findAll('td', attrs={'class':'col-volume'}):
    volume_txt=a.find('span', attrs={'class':'text'})
    volume.append(volume_txt.text)
#Chnge%
chg=[]
for a in soup.findAll('td', attrs={'class':'col-change_percent'}):
    chg_txt=a.find('span', attrs={'class':'text'})
    chg.append(chg_txt.text)
    
volume = volume[:len(date)]
# Prepare DataFrame
df_nifty= pd.DataFrame({'Date':date,'Open':open,'High':high,'Low':low,'Close':close,'Volume':volume,'Chg%':chg})
df_nifty['Date'] = df_nifty['Date'].str.replace(r",","")
df_nifty['Date']=pd.to_datetime(df_nifty.Date , format = '%b %d %Y')
df_nifty=df_nifty.drop_duplicates(subset="Date") #droping dupicate data 
data = df_nifty
data['Close']=data['Close'].str.replace(r",","").astype('float')
data['Open']=data['Open'].str.replace(r",","").astype('float')
data['High']=data['High'].str.replace(r",","").astype('float')
data['Low']=data['Low'].str.replace(r",","").astype('float')
# data['Volume']=data['Volume'].astype(str)
# data['Chg%']=data['Chg%'].astype(str)
data

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_16184\2831554580.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome('D:\chromedriver_win32.exe')

           Date     Open     High      Low    Close Volume    Chg%
0    2023-07-13  1080.05  1080.05  1071.80  1075.65  1.54M  -0.29%
1    2023-07-12  1075.00  1083.75  1070.00  1078.75  5.09M   0.61%
2    2023-07-11  1052.00  1074.75  1049.05  1072.25  4.37M   2.61%
3    2023-07-10  1036.00  1051.00  1031.10  1045.00  1.22M   0.90%
4    2023-07-07  1033.50  1051.20  1028.75  1035.70  1.72M  -0.65%
...         ...      ...      ...      ...      ...    ...     ...
1008 2019-06-19   380.00   382.10   368.15   375.20  7.20M  -0.86%
1009 2019-06-18   381.40   385.60   374.30   378.45  3.76M  -1.16%
1010 2019-06-17   391.70   394.50   379.85   382.90  6.56M  -2.46%
1011 2019-06-14   390.00   394.85   376.55   392.55  9.79M   0.72%
1012 2019-06-13   391.00   393.75   385.40   389.75  4.09M  -0.42%

[1013 rows x 7 columns]

In [42]:
data.isnull().sum()

Date      0
Open      0
High      0
Low       0
Close     0
Volume    0
Chg%      0
dtype: int64

In [27]:
data.to_excel('Sun_Pharmaceutical_Industries_Ltd_(SUN).xlsx', index=False)

# State Bank Of India (SBI)

In [28]:
driver = webdriver.Chrome('D:\chromedriver_win32.exe')
url='https://in.investing.com/equities/state-bank-of-india-historical-data?end_date=1689244466&st_date=1560364200'
driver.get(url)
driver.maximize_window()
time.sleep(10)

content = driver.page_source
from bs4 import BeautifulSoup
soup = BeautifulSoup(content)



date=[]
for a in soup.findAll('td', attrs={'class':'col-rowDate'}):
    date_txt=a.find('span', attrs={'class':'text'})
    date.append(date_txt.text)
#Closing Prices
close=[]
for a in soup.findAll('td', attrs={'class':'col-last_close'}):
    close_txt=a.find('span', attrs={'class':'text'})
    close.append(close_txt.text)
#Open Prices
open=[]
for a in soup.findAll('td', attrs={'class':'col-last_open'}):
    open_txt=a.find('span', attrs={'class':'text'})
    open.append(open_txt.text)
#High Prices
high=[]
for a in soup.findAll('td', attrs={'class':'col-last_max'}):
    high_txt=a.find('span', attrs={'class':'text'})
    high.append(high_txt.text)
#Low Prices
low=[]
for a in soup.findAll('td', attrs={'class':'col-last_min'}):
    low_txt=a.find('span', attrs={'class':'text'})
    low.append(low_txt.text)
#Volume
volume=[]
for a in soup.findAll('td', attrs={'class':'col-volume'}):
    volume_txt=a.find('span', attrs={'class':'text'})
    volume.append(volume_txt.text)
#Chnge%
chg=[]
for a in soup.findAll('td', attrs={'class':'col-change_percent'}):
    chg_txt=a.find('span', attrs={'class':'text'})
    chg.append(chg_txt.text)
    
volume = volume[:len(date)]
# Prepare DataFrame
df_nifty= pd.DataFrame({'Date':date,'Open':open,'High':high,'Low':low,'Close':close,'Volume':volume,'Chg%':chg})
df_nifty['Date'] = df_nifty['Date'].str.replace(r",","")
df_nifty['Date']=pd.to_datetime(df_nifty.Date , format = '%b %d %Y')
df_nifty=df_nifty.drop_duplicates(subset="Date") #droping dupicate data 
data = df_nifty
data['Close']=data['Close'].str.replace(r",","").astype('float')
data['Open']=data['Open'].str.replace(r",","").astype('float')
data['High']=data['High'].str.replace(r",","").astype('float')
data['Low']=data['Low'].str.replace(r",","").astype('float')
# data['Volume']=data['Volume'].astype(str)
# data['Chg%']=data['Chg%'].astype(str)
data

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_16184\4006745124.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome('D:\chromedriver_win32.exe')

           Date    Open    High     Low   Close  Volume    Chg%
0    2023-07-13  592.90  598.00  583.55  585.65  20.02M  -0.61%
1    2023-07-12  589.00  594.50  588.20  589.25  16.03M   0.12%
2    2023-07-11  595.00  595.95  587.35  588.55  13.22M  -0.68%
3    2023-07-10  594.65  599.80  590.25  592.60  11.42M  -0.17%
4    2023-07-07  590.00  595.50  585.50  593.60  11.71M   0.19%
...         ...     ...     ...     ...     ...     ...     ...
1009 2019-06-19  343.10  345.20  335.50  338.85  16.42M  -0.35%
1010 2019-06-18  335.50  344.00  333.80  340.05  21.96M   0.65%
1011 2019-06-17  343.75  343.75  336.95  337.85  13.78M  -1.73%
1012 2019-06-14  345.50  346.35  342.55  343.80  10.35M  -0.78%
1013 2019-06-13  343.00  347.45  339.80  346.50  15.51M   0.73%

[1014 rows x 7 columns]

In [43]:
data.isnull().sum()

Date      0
Open      0
High      0
Low       0
Close     0
Volume    0
Chg%      0
dtype: int64

In [29]:
data.to_excel('State_Bank_Of_India_(SBI).xlsx', index=False)

# SBI Life Insurance Company Ltd (SBIL)

In [30]:
driver = webdriver.Chrome('D:\chromedriver_win32.exe')
url='https://in.investing.com/equities/sbi-life-insurance-historical-data?end_date=1689244610&st_date=1560364200'
driver.get(url)
driver.maximize_window()
time.sleep(10)

content = driver.page_source
from bs4 import BeautifulSoup
soup = BeautifulSoup(content)



date=[]
for a in soup.findAll('td', attrs={'class':'col-rowDate'}):
    date_txt=a.find('span', attrs={'class':'text'})
    date.append(date_txt.text)
#Closing Prices
close=[]
for a in soup.findAll('td', attrs={'class':'col-last_close'}):
    close_txt=a.find('span', attrs={'class':'text'})
    close.append(close_txt.text)
#Open Prices
open=[]
for a in soup.findAll('td', attrs={'class':'col-last_open'}):
    open_txt=a.find('span', attrs={'class':'text'})
    open.append(open_txt.text)
#High Prices
high=[]
for a in soup.findAll('td', attrs={'class':'col-last_max'}):
    high_txt=a.find('span', attrs={'class':'text'})
    high.append(high_txt.text)
#Low Prices
low=[]
for a in soup.findAll('td', attrs={'class':'col-last_min'}):
    low_txt=a.find('span', attrs={'class':'text'})
    low.append(low_txt.text)
#Volume
volume=[]
for a in soup.findAll('td', attrs={'class':'col-volume'}):
    volume_txt=a.find('span', attrs={'class':'text'})
    volume.append(volume_txt.text)
#Chnge%
chg=[]
for a in soup.findAll('td', attrs={'class':'col-change_percent'}):
    chg_txt=a.find('span', attrs={'class':'text'})
    chg.append(chg_txt.text)
    
volume = volume[:len(date)]
# Prepare DataFrame
df_nifty= pd.DataFrame({'Date':date,'Open':open,'High':high,'Low':low,'Close':close,'Volume':volume,'Chg%':chg})
df_nifty['Date'] = df_nifty['Date'].str.replace(r",","")
df_nifty['Date']=pd.to_datetime(df_nifty.Date , format = '%b %d %Y')
df_nifty=df_nifty.drop_duplicates(subset="Date") #droping dupicate data 
data = df_nifty
data['Close']=data['Close'].str.replace(r",","").astype('float')
data['Open']=data['Open'].str.replace(r",","").astype('float')
data['High']=data['High'].str.replace(r",","").astype('float')
data['Low']=data['Low'].str.replace(r",","").astype('float')
# data['Volume']=data['Volume'].astype(str)
# data['Chg%']=data['Chg%'].astype(str)
data

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_16184\3081827375.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome('D:\chromedriver_win32.exe')

           Date     Open     High      Low    Close   Volume    Chg%
0    2023-07-13  1310.70  1336.00  1305.10  1313.95    1.58M   1.03%
1    2023-07-12  1291.00  1306.60  1291.00  1300.60  905.81K   0.43%
2    2023-07-11  1298.75  1308.75  1289.50  1295.00  821.82K   0.13%
3    2023-07-10  1300.70  1302.00  1283.20  1293.30  675.35K  -0.05%
4    2023-07-07  1292.60  1318.00  1288.45  1294.00  939.84K   0.08%
...         ...      ...      ...      ...      ...      ...     ...
1008 2019-06-19   706.00   709.00   686.25   696.30  358.96K  -1.10%
1009 2019-06-18   700.95   708.00   699.15   704.05    1.56M   0.58%
1010 2019-06-17   701.40   707.00   698.30   700.00  486.85K   0.06%
1011 2019-06-14   699.95   701.00   696.00   699.55  375.87K   0.03%
1012 2019-06-13   700.00   709.00   694.00   699.35  437.38K  -0.09%

[1013 rows x 7 columns]

In [44]:
data.isnull().sum()

Date      0
Open      0
High      0
Low       0
Close     0
Volume    0
Chg%      0
dtype: int64

In [31]:
data.to_excel('SBI_Life_Insurance_Company_Ltd_(SBIL).xlsx', index=False)

# Reliance Infrastructure Ltd (RLIN)

In [32]:
driver = webdriver.Chrome('D:\chromedriver_win32.exe')
url='https://in.investing.com/equities/reliance-infrastructure-historical-data?end_date=1689244800&st_date=1560364200'
driver.get(url)
driver.maximize_window()
time.sleep(10)

content = driver.page_source
from bs4 import BeautifulSoup
soup = BeautifulSoup(content)



date=[]
for a in soup.findAll('td', attrs={'class':'col-rowDate'}):
    date_txt=a.find('span', attrs={'class':'text'})
    date.append(date_txt.text)
#Closing Prices
close=[]
for a in soup.findAll('td', attrs={'class':'col-last_close'}):
    close_txt=a.find('span', attrs={'class':'text'})
    close.append(close_txt.text)
#Open Prices
open=[]
for a in soup.findAll('td', attrs={'class':'col-last_open'}):
    open_txt=a.find('span', attrs={'class':'text'})
    open.append(open_txt.text)
#High Prices
high=[]
for a in soup.findAll('td', attrs={'class':'col-last_max'}):
    high_txt=a.find('span', attrs={'class':'text'})
    high.append(high_txt.text)
#Low Prices
low=[]
for a in soup.findAll('td', attrs={'class':'col-last_min'}):
    low_txt=a.find('span', attrs={'class':'text'})
    low.append(low_txt.text)
#Volume
volume=[]
for a in soup.findAll('td', attrs={'class':'col-volume'}):
    volume_txt=a.find('span', attrs={'class':'text'})
    volume.append(volume_txt.text)
#Chnge%
chg=[]
for a in soup.findAll('td', attrs={'class':'col-change_percent'}):
    chg_txt=a.find('span', attrs={'class':'text'})
    chg.append(chg_txt.text)
    
volume = volume[:len(date)]
# Prepare DataFrame
df_nifty= pd.DataFrame({'Date':date,'Open':open,'High':high,'Low':low,'Close':close,'Volume':volume,'Chg%':chg})
df_nifty['Date'] = df_nifty['Date'].str.replace(r",","")
df_nifty['Date']=pd.to_datetime(df_nifty.Date , format = '%b %d %Y')
df_nifty=df_nifty.drop_duplicates(subset="Date") #droping dupicate data 
data = df_nifty
data['Close']=data['Close'].str.replace(r",","").astype('float')
data['Open']=data['Open'].str.replace(r",","").astype('float')
data['High']=data['High'].str.replace(r",","").astype('float')
data['Low']=data['Low'].str.replace(r",","").astype('float')
# data['Volume']=data['Volume'].astype(str)
# data['Chg%']=data['Chg%'].astype(str)
data

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_16184\312981619.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome('D:\chromedriver_win32.exe')

           Date    Open    High     Low   Close  Volume     Chg%
0    2023-07-13  138.45  139.05  135.25  136.25   1.48M   -0.95%
1    2023-07-12  137.80  139.90  136.80  137.55   1.80M    0.55%
2    2023-07-11  136.80  141.40  136.25  136.80   2.43M    0.85%
3    2023-07-10  139.00  139.30  135.05  135.65   1.03M   -2.13%
4    2023-07-07  139.00  140.50  136.75  138.60   1.95M   -0.11%
...         ...     ...     ...     ...     ...     ...      ...
1008 2019-06-19   43.95   48.70   37.25   42.65  84.67M   -6.57%
1009 2019-06-18   55.80   56.30   44.10   45.65  42.22M  -18.99%
1010 2019-06-17   53.25   57.40   50.50   56.35  40.56M   -4.73%
1011 2019-06-14   62.75   64.10   57.80   59.15  30.91M   -5.81%
1012 2019-06-13   63.50   64.30   61.25   62.80  23.06M   -2.26%

[1013 rows x 7 columns]

In [45]:
data.isnull().sum()

Date      0
Open      0
High      0
Low       0
Close     0
Volume    0
Chg%      0
dtype: int64

In [33]:
data.to_excel('Reliance_Infrastructure_Ltd_(RLIN).xlsx', index=False)

# Hindustan Unilever Ltd. (HLL)

In [46]:
driver = webdriver.Chrome('D:\chromedriver_win32.exe')
url='https://in.investing.com/equities/hindustan-unilever-historical-data?end_date=1689245724&st_date=1560364200'
driver.get(url)
driver.maximize_window()
time.sleep(10)

content = driver.page_source
from bs4 import BeautifulSoup
soup = BeautifulSoup(content)



date=[]
for a in soup.findAll('td', attrs={'class':'col-rowDate'}):
    date_txt=a.find('span', attrs={'class':'text'})
    date.append(date_txt.text)
#Closing Prices
close=[]
for a in soup.findAll('td', attrs={'class':'col-last_close'}):
    close_txt=a.find('span', attrs={'class':'text'})
    close.append(close_txt.text)
#Open Prices
open=[]
for a in soup.findAll('td', attrs={'class':'col-last_open'}):
    open_txt=a.find('span', attrs={'class':'text'})
    open.append(open_txt.text)
#High Prices
high=[]
for a in soup.findAll('td', attrs={'class':'col-last_max'}):
    high_txt=a.find('span', attrs={'class':'text'})
    high.append(high_txt.text)
#Low Prices
low=[]
for a in soup.findAll('td', attrs={'class':'col-last_min'}):
    low_txt=a.find('span', attrs={'class':'text'})
    low.append(low_txt.text)
#Volume
volume=[]
for a in soup.findAll('td', attrs={'class':'col-volume'}):
    volume_txt=a.find('span', attrs={'class':'text'})
    volume.append(volume_txt.text)
#Chnge%
chg=[]
for a in soup.findAll('td', attrs={'class':'col-change_percent'}):
    chg_txt=a.find('span', attrs={'class':'text'})
    chg.append(chg_txt.text)
    
volume = volume[:len(date)]
# Prepare DataFrame
df_nifty= pd.DataFrame({'Date':date,'Open':open,'High':high,'Low':low,'Close':close,'Volume':volume,'Chg%':chg})
df_nifty['Date'] = df_nifty['Date'].str.replace(r",","")
df_nifty['Date']=pd.to_datetime(df_nifty.Date , format = '%b %d %Y')
df_nifty=df_nifty.drop_duplicates(subset="Date") #droping dupicate data 
data = df_nifty
data['Close']=data['Close'].str.replace(r",","").astype('float')
data['Open']=data['Open'].str.replace(r",","").astype('float')
data['High']=data['High'].str.replace(r",","").astype('float')
data['Low']=data['Low'].str.replace(r",","").astype('float')
# data['Volume']=data['Volume'].astype(str)
# data['Chg%']=data['Chg%'].astype(str)
data

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_16184\3270546677.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome('D:\chromedriver_win32.exe')

           Date     Open     High      Low    Close   Volume    Chg%
0    2023-07-13  2675.45  2687.45  2651.25  2658.25    1.49M  -0.58%
1    2023-07-12  2704.95  2704.95  2642.50  2673.65    2.40M  -0.40%
2    2023-07-11  2657.10  2716.75  2646.00  2684.50    2.48M   1.05%
3    2023-07-10  2709.90  2711.35  2651.00  2656.55    1.52M  -1.54%
4    2023-07-07  2753.10  2769.65  2691.00  2698.10    1.18M  -2.14%
...         ...      ...      ...      ...      ...      ...     ...
1008 2019-06-19  1816.80  1824.95  1802.00  1811.70  600.46K   0.12%
1009 2019-06-18  1810.50  1818.15  1793.00  1809.60  995.08K  -0.46%
1010 2019-06-17  1831.90  1831.90  1804.60  1818.05  669.28K  -0.27%
1011 2019-06-14  1843.00  1853.25  1816.35  1822.95  632.97K  -1.22%
1012 2019-06-13  1847.05  1848.70  1823.05  1845.50  697.83K  -0.09%

[1013 rows x 7 columns]

In [47]:
data.to_excel('Hindustan_Unilever_Ltd_(HLL).xlsx', index=False)

# Hindalco Industries Ltd. (HALC)

In [48]:
driver = webdriver.Chrome('D:\chromedriver_win32.exe')
url='https://in.investing.com/equities/hindalco-industries-historical-data?end_date=1689245884&st_date=1560364200'
driver.get(url)
driver.maximize_window()
time.sleep(10)

content = driver.page_source
from bs4 import BeautifulSoup
soup = BeautifulSoup(content)



date=[]
for a in soup.findAll('td', attrs={'class':'col-rowDate'}):
    date_txt=a.find('span', attrs={'class':'text'})
    date.append(date_txt.text)
#Closing Prices
close=[]
for a in soup.findAll('td', attrs={'class':'col-last_close'}):
    close_txt=a.find('span', attrs={'class':'text'})
    close.append(close_txt.text)
#Open Prices
open=[]
for a in soup.findAll('td', attrs={'class':'col-last_open'}):
    open_txt=a.find('span', attrs={'class':'text'})
    open.append(open_txt.text)
#High Prices
high=[]
for a in soup.findAll('td', attrs={'class':'col-last_max'}):
    high_txt=a.find('span', attrs={'class':'text'})
    high.append(high_txt.text)
#Low Prices
low=[]
for a in soup.findAll('td', attrs={'class':'col-last_min'}):
    low_txt=a.find('span', attrs={'class':'text'})
    low.append(low_txt.text)
#Volume
volume=[]
for a in soup.findAll('td', attrs={'class':'col-volume'}):
    volume_txt=a.find('span', attrs={'class':'text'})
    volume.append(volume_txt.text)
#Chnge%
chg=[]
for a in soup.findAll('td', attrs={'class':'col-change_percent'}):
    chg_txt=a.find('span', attrs={'class':'text'})
    chg.append(chg_txt.text)
    
volume = volume[:len(date)]
# Prepare DataFrame
df_nifty= pd.DataFrame({'Date':date,'Open':open,'High':high,'Low':low,'Close':close,'Volume':volume,'Chg%':chg})
df_nifty['Date'] = df_nifty['Date'].str.replace(r",","")
df_nifty['Date']=pd.to_datetime(df_nifty.Date , format = '%b %d %Y')
df_nifty=df_nifty.drop_duplicates(subset="Date") #droping dupicate data 
data = df_nifty
data['Close']=data['Close'].str.replace(r",","").astype('float')
data['Open']=data['Open'].str.replace(r",","").astype('float')
data['High']=data['High'].str.replace(r",","").astype('float')
data['Low']=data['Low'].str.replace(r",","").astype('float')
# data['Volume']=data['Volume'].astype(str)
# data['Chg%']=data['Chg%'].astype(str)
data

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_16184\1536431612.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome('D:\chromedriver_win32.exe')

           Date    Open    High     Low   Close  Volume    Chg%
0    2023-07-13  431.15  439.35  431.15  435.20  11.59M   2.44%
1    2023-07-12  425.50  428.10  422.25  424.85   2.85M   0.05%
2    2023-07-11  429.25  431.85  424.00  424.65   3.06M  -0.75%
3    2023-07-10  423.00  436.20  423.00  427.85   6.50M   1.22%
4    2023-07-07  423.90  425.00  418.50  422.70   6.77M  -0.87%
...         ...     ...     ...     ...     ...     ...     ...
1008 2019-06-19  192.25  196.25  188.40  190.05  11.22M   0.05%
1009 2019-06-18  193.45  195.30  189.30  189.95   8.85M  -1.89%
1010 2019-06-17  199.00  199.00  193.00  193.60   5.98M  -2.35%
1011 2019-06-14  198.40  200.70  196.80  198.25   3.62M  -0.70%
1012 2019-06-13  198.95  200.35  196.70  199.65   4.65M   0.18%

[1013 rows x 7 columns]

In [49]:
data.to_excel('Hindalco_Industries_Ltd_(HALC).xlsx', index=False)

# Hero MotoCorp Ltd (HROM)

In [50]:
driver = webdriver.Chrome('D:\chromedriver_win32.exe')
url='https://in.investing.com/equities/hero-motocorp-historical-data?end_date=1689246047&st_date=1560364200'
driver.get(url)
driver.maximize_window()
time.sleep(10)

content = driver.page_source
from bs4 import BeautifulSoup
soup = BeautifulSoup(content)



date=[]
for a in soup.findAll('td', attrs={'class':'col-rowDate'}):
    date_txt=a.find('span', attrs={'class':'text'})
    date.append(date_txt.text)
#Closing Prices
close=[]
for a in soup.findAll('td', attrs={'class':'col-last_close'}):
    close_txt=a.find('span', attrs={'class':'text'})
    close.append(close_txt.text)
#Open Prices
open=[]
for a in soup.findAll('td', attrs={'class':'col-last_open'}):
    open_txt=a.find('span', attrs={'class':'text'})
    open.append(open_txt.text)
#High Prices
high=[]
for a in soup.findAll('td', attrs={'class':'col-last_max'}):
    high_txt=a.find('span', attrs={'class':'text'})
    high.append(high_txt.text)
#Low Prices
low=[]
for a in soup.findAll('td', attrs={'class':'col-last_min'}):
    low_txt=a.find('span', attrs={'class':'text'})
    low.append(low_txt.text)
#Volume
volume=[]
for a in soup.findAll('td', attrs={'class':'col-volume'}):
    volume_txt=a.find('span', attrs={'class':'text'})
    volume.append(volume_txt.text)
#Chnge%
chg=[]
for a in soup.findAll('td', attrs={'class':'col-change_percent'}):
    chg_txt=a.find('span', attrs={'class':'text'})
    chg.append(chg_txt.text)
    
volume = volume[:len(date)]
# Prepare DataFrame
df_nifty= pd.DataFrame({'Date':date,'Open':open,'High':high,'Low':low,'Close':close,'Volume':volume,'Chg%':chg})
df_nifty['Date'] = df_nifty['Date'].str.replace(r",","")
df_nifty['Date']=pd.to_datetime(df_nifty.Date , format = '%b %d %Y')
df_nifty=df_nifty.drop_duplicates(subset="Date") #droping dupicate data 
data = df_nifty
data['Close']=data['Close'].str.replace(r",","").astype('float')
data['Open']=data['Open'].str.replace(r",","").astype('float')
data['High']=data['High'].str.replace(r",","").astype('float')
data['Low']=data['Low'].str.replace(r",","").astype('float')
# data['Volume']=data['Volume'].astype(str)
# data['Chg%']=data['Chg%'].astype(str)
data

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_16184\497681382.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome('D:\chromedriver_win32.exe')

           Date     Open     High      Low    Close   Volume    Chg%
0    2023-07-13  3092.95  3130.95  3056.05  3078.70  665.20K  -0.00%
1    2023-07-12  3099.90  3113.30  3057.45  3078.85  739.04K  -0.77%
2    2023-07-11  3099.00  3128.00  3084.20  3102.60  663.72K  -0.68%
3    2023-07-10  3156.45  3186.35  3085.90  3123.70  570.28K  -0.78%
4    2023-07-07  3150.00  3172.00  3126.00  3148.20  931.14K  -0.75%
...         ...      ...      ...      ...      ...      ...     ...
1009 2019-06-19  2676.19  2676.19  2568.89  2602.44  552.14K  -2.31%
1010 2019-06-18  2646.28  2679.18  2631.25  2664.01  469.54K   0.74%
1011 2019-06-17  2661.21  2680.38  2632.25  2644.48  484.67K  -0.83%
1012 2019-06-14  2696.16  2715.63  2656.32  2666.50  320.46K  -1.29%
1013 2019-06-13  2726.12  2768.06  2681.53  2701.25  480.21K  -0.84%

[1014 rows x 7 columns]

In [51]:
data.to_excel('Hero_MotoCorp_Ltd_(HROM).xlsx', index=False)

# HDFC Life Insurance Company Ltd (HDFL)

In [52]:
driver = webdriver.Chrome('D:\chromedriver_win32.exe')
url='https://in.investing.com/equities/hdfc-standard-life-historical-data?end_date=1689246153&st_date=1560364200'
driver.get(url)
driver.maximize_window()
time.sleep(10)

content = driver.page_source
from bs4 import BeautifulSoup
soup = BeautifulSoup(content)



date=[]
for a in soup.findAll('td', attrs={'class':'col-rowDate'}):
    date_txt=a.find('span', attrs={'class':'text'})
    date.append(date_txt.text)
#Closing Prices
close=[]
for a in soup.findAll('td', attrs={'class':'col-last_close'}):
    close_txt=a.find('span', attrs={'class':'text'})
    close.append(close_txt.text)
#Open Prices
open=[]
for a in soup.findAll('td', attrs={'class':'col-last_open'}):
    open_txt=a.find('span', attrs={'class':'text'})
    open.append(open_txt.text)
#High Prices
high=[]
for a in soup.findAll('td', attrs={'class':'col-last_max'}):
    high_txt=a.find('span', attrs={'class':'text'})
    high.append(high_txt.text)
#Low Prices
low=[]
for a in soup.findAll('td', attrs={'class':'col-last_min'}):
    low_txt=a.find('span', attrs={'class':'text'})
    low.append(low_txt.text)
#Volume
volume=[]
for a in soup.findAll('td', attrs={'class':'col-volume'}):
    volume_txt=a.find('span', attrs={'class':'text'})
    volume.append(volume_txt.text)
#Chnge%
chg=[]
for a in soup.findAll('td', attrs={'class':'col-change_percent'}):
    chg_txt=a.find('span', attrs={'class':'text'})
    chg.append(chg_txt.text)
    
volume = volume[:len(date)]
# Prepare DataFrame
df_nifty= pd.DataFrame({'Date':date,'Open':open,'High':high,'Low':low,'Close':close,'Volume':volume,'Chg%':chg})
df_nifty['Date'] = df_nifty['Date'].str.replace(r",","")
df_nifty['Date']=pd.to_datetime(df_nifty.Date , format = '%b %d %Y')
df_nifty=df_nifty.drop_duplicates(subset="Date") #droping dupicate data 
data = df_nifty
data['Close']=data['Close'].str.replace(r",","").astype('float')
data['Open']=data['Open'].str.replace(r",","").astype('float')
data['High']=data['High'].str.replace(r",","").astype('float')
data['Low']=data['Low'].str.replace(r",","").astype('float')
# data['Volume']=data['Volume'].astype(str)
# data['Chg%']=data['Chg%'].astype(str)
data

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_16184\490998731.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome('D:\chromedriver_win32.exe')

           Date    Open    High     Low   Close   Volume    Chg%
0    2023-07-13  677.10  690.65  677.10  680.60    4.00M   1.32%
1    2023-07-12  675.90  677.50  669.75  671.70    2.91M  -0.13%
2    2023-07-11  671.00  684.80  670.75  672.55    5.00M   0.64%
3    2023-07-10  660.00  674.75  659.05  668.25    3.68M   1.54%
4    2023-07-07  660.60  679.00  656.70  658.10    5.43M  -0.46%
...         ...     ...     ...     ...     ...      ...     ...
1008 2019-06-19  443.00  445.20  436.10  437.15  959.73K  -1.03%
1009 2019-06-18  443.35  445.15  440.05  441.70  913.33K  -0.37%
1010 2019-06-17  449.50  450.95  440.10  443.35  985.93K  -1.07%
1011 2019-06-14  454.70  459.90  445.15  448.15    1.48M  -0.85%
1012 2019-06-13  444.80  453.65  440.50  452.00    1.80M   2.51%

[1013 rows x 7 columns]

In [53]:
data.to_excel('HDFC_Life_Insurance_Company_Ltd_(HDFL).xlsx', index=False)

# HCL Technologies Ltd (HCLT)

In [54]:
driver = webdriver.Chrome('D:\chromedriver_win32.exe')
url='https://in.investing.com/equities/hcl-technologies-historical-data?end_date=1689246307&st_date=1560364200'
driver.get(url)
driver.maximize_window()
time.sleep(10)

content = driver.page_source
from bs4 import BeautifulSoup
soup = BeautifulSoup(content)



date=[]
for a in soup.findAll('td', attrs={'class':'col-rowDate'}):
    date_txt=a.find('span', attrs={'class':'text'})
    date.append(date_txt.text)
#Closing Prices
close=[]
for a in soup.findAll('td', attrs={'class':'col-last_close'}):
    close_txt=a.find('span', attrs={'class':'text'})
    close.append(close_txt.text)
#Open Prices
open=[]
for a in soup.findAll('td', attrs={'class':'col-last_open'}):
    open_txt=a.find('span', attrs={'class':'text'})
    open.append(open_txt.text)
#High Prices
high=[]
for a in soup.findAll('td', attrs={'class':'col-last_max'}):
    high_txt=a.find('span', attrs={'class':'text'})
    high.append(high_txt.text)
#Low Prices
low=[]
for a in soup.findAll('td', attrs={'class':'col-last_min'}):
    low_txt=a.find('span', attrs={'class':'text'})
    low.append(low_txt.text)
#Volume
volume=[]
for a in soup.findAll('td', attrs={'class':'col-volume'}):
    volume_txt=a.find('span', attrs={'class':'text'})
    volume.append(volume_txt.text)
#Chnge%
chg=[]
for a in soup.findAll('td', attrs={'class':'col-change_percent'}):
    chg_txt=a.find('span', attrs={'class':'text'})
    chg.append(chg_txt.text)
    
volume = volume[:len(date)]
# Prepare DataFrame
df_nifty= pd.DataFrame({'Date':date,'Open':open,'High':high,'Low':low,'Close':close,'Volume':volume,'Chg%':chg})
df_nifty['Date'] = df_nifty['Date'].str.replace(r",","")
df_nifty['Date']=pd.to_datetime(df_nifty.Date , format = '%b %d %Y')
df_nifty=df_nifty.drop_duplicates(subset="Date") #droping dupicate data 
data = df_nifty
data['Close']=data['Close'].str.replace(r",","").astype('float')
data['Open']=data['Open'].str.replace(r",","").astype('float')
data['High']=data['High'].str.replace(r",","").astype('float')
data['Low']=data['Low'].str.replace(r",","").astype('float')
# data['Volume']=data['Volume'].astype(str)
# data['Chg%']=data['Chg%'].astype(str)
data

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_16184\246410396.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome('D:\chromedriver_win32.exe')

           Date     Open     High      Low    Close  Volume    Chg%
0    2023-07-13  1098.80  1124.25  1088.40  1108.80  12.29M  -0.16%
1    2023-07-12  1119.70  1124.50  1102.45  1110.55   3.82M  -0.39%
2    2023-07-11  1131.75  1131.75  1112.00  1114.90   4.98M  -0.85%
3    2023-07-10  1160.00  1161.90  1120.00  1124.50   3.96M  -2.86%
4    2023-07-07  1178.15  1182.95  1153.80  1157.60   2.16M  -1.95%
...         ...      ...      ...      ...      ...     ...     ...
1008 2019-06-19   545.05   548.30   538.90   542.05   2.44M  -0.50%
1009 2019-06-18   537.45   547.08   537.33   544.80   1.41M   1.37%
1010 2019-06-17   542.00   543.85   535.75   537.45   2.49M  -1.11%
1011 2019-06-14   546.55   551.17   542.00   543.50   3.47M  -1.26%
1012 2019-06-13   551.50   553.05   546.50   550.45   3.95M  -0.65%

[1013 rows x 7 columns]

In [55]:
data.to_excel('HCL_Technologies_Ltd_(HCLT).xlsx', index=False)

# Grasim Industries Ltd (GRAS)

In [56]:
driver = webdriver.Chrome('D:\chromedriver_win32.exe')
url='https://in.investing.com/equities/grasim-industries-historical-data?end_date=1689246534&st_date=1560364200'
driver.get(url)
driver.maximize_window()
time.sleep(10)

content = driver.page_source
from bs4 import BeautifulSoup
soup = BeautifulSoup(content)



date=[]
for a in soup.findAll('td', attrs={'class':'col-rowDate'}):
    date_txt=a.find('span', attrs={'class':'text'})
    date.append(date_txt.text)
#Closing Prices
close=[]
for a in soup.findAll('td', attrs={'class':'col-last_close'}):
    close_txt=a.find('span', attrs={'class':'text'})
    close.append(close_txt.text)
#Open Prices
open=[]
for a in soup.findAll('td', attrs={'class':'col-last_open'}):
    open_txt=a.find('span', attrs={'class':'text'})
    open.append(open_txt.text)
#High Prices
high=[]
for a in soup.findAll('td', attrs={'class':'col-last_max'}):
    high_txt=a.find('span', attrs={'class':'text'})
    high.append(high_txt.text)
#Low Prices
low=[]
for a in soup.findAll('td', attrs={'class':'col-last_min'}):
    low_txt=a.find('span', attrs={'class':'text'})
    low.append(low_txt.text)
#Volume
volume=[]
for a in soup.findAll('td', attrs={'class':'col-volume'}):
    volume_txt=a.find('span', attrs={'class':'text'})
    volume.append(volume_txt.text)
#Chnge%
chg=[]
for a in soup.findAll('td', attrs={'class':'col-change_percent'}):
    chg_txt=a.find('span', attrs={'class':'text'})
    chg.append(chg_txt.text)
    
volume = volume[:len(date)]
# Prepare DataFrame
df_nifty= pd.DataFrame({'Date':date,'Open':open,'High':high,'Low':low,'Close':close,'Volume':volume,'Chg%':chg})
df_nifty['Date'] = df_nifty['Date'].str.replace(r",","")
df_nifty['Date']=pd.to_datetime(df_nifty.Date , format = '%b %d %Y')
df_nifty=df_nifty.drop_duplicates(subset="Date") #droping dupicate data 
data = df_nifty
data['Close']=data['Close'].str.replace(r",","").astype('float')
data['Open']=data['Open'].str.replace(r",","").astype('float')
data['High']=data['High'].str.replace(r",","").astype('float')
data['Low']=data['Low'].str.replace(r",","").astype('float')
# data['Volume']=data['Volume'].astype(str)
# data['Chg%']=data['Chg%'].astype(str)
data

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_16184\2767486234.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome('D:\chromedriver_win32.exe')

           Date     Open     High      Low    Close   Volume    Chg%
0    2023-07-13  1778.10  1783.80  1753.50  1760.00  334.23K  -1.00%
1    2023-07-12  1767.65  1784.40  1757.05  1777.85  788.15K   0.57%
2    2023-07-11  1743.80  1773.95  1743.80  1767.70  576.64K   1.42%
3    2023-07-10  1754.85  1759.25  1733.25  1743.00  452.12K  -0.02%
4    2023-07-07  1768.05  1770.70  1737.00  1743.30  552.70K  -1.40%
...         ...      ...      ...      ...      ...      ...     ...
1008 2019-06-19   883.00   888.40   872.85   882.05  954.32K   0.27%
1009 2019-06-18   878.00   883.90   866.00   879.65  886.41K   0.03%
1010 2019-06-17   897.10   900.00   873.80   879.35    1.48M  -2.19%
1011 2019-06-14   904.00   906.60   892.90   899.00    1.85M  -0.62%
1012 2019-06-13   884.00   907.50   869.70   904.60    1.52M   1.83%

[1013 rows x 7 columns]

In [57]:
data.to_excel('Grasim_Industries_Ltd_(GRAS).xlsx', index=False)

# Eicher Motors Ltd. (EICH)

In [58]:
driver = webdriver.Chrome('D:\chromedriver_win32.exe')
url='https://in.investing.com/equities/eicher-motors-historical-data?end_date=1689246676&st_date=1560364200'
driver.get(url)
driver.maximize_window()
time.sleep(10)

content = driver.page_source
from bs4 import BeautifulSoup
soup = BeautifulSoup(content)



date=[]
for a in soup.findAll('td', attrs={'class':'col-rowDate'}):
    date_txt=a.find('span', attrs={'class':'text'})
    date.append(date_txt.text)
#Closing Prices
close=[]
for a in soup.findAll('td', attrs={'class':'col-last_close'}):
    close_txt=a.find('span', attrs={'class':'text'})
    close.append(close_txt.text)
#Open Prices
open=[]
for a in soup.findAll('td', attrs={'class':'col-last_open'}):
    open_txt=a.find('span', attrs={'class':'text'})
    open.append(open_txt.text)
#High Prices
high=[]
for a in soup.findAll('td', attrs={'class':'col-last_max'}):
    high_txt=a.find('span', attrs={'class':'text'})
    high.append(high_txt.text)
#Low Prices
low=[]
for a in soup.findAll('td', attrs={'class':'col-last_min'}):
    low_txt=a.find('span', attrs={'class':'text'})
    low.append(low_txt.text)
#Volume
volume=[]
for a in soup.findAll('td', attrs={'class':'col-volume'}):
    volume_txt=a.find('span', attrs={'class':'text'})
    volume.append(volume_txt.text)
#Chnge%
chg=[]
for a in soup.findAll('td', attrs={'class':'col-change_percent'}):
    chg_txt=a.find('span', attrs={'class':'text'})
    chg.append(chg_txt.text)
    
volume = volume[:len(date)]
# Prepare DataFrame
df_nifty= pd.DataFrame({'Date':date,'Open':open,'High':high,'Low':low,'Close':close,'Volume':volume,'Chg%':chg})
df_nifty['Date'] = df_nifty['Date'].str.replace(r",","")
df_nifty['Date']=pd.to_datetime(df_nifty.Date , format = '%b %d %Y')
df_nifty=df_nifty.drop_duplicates(subset="Date") #droping dupicate data 
data = df_nifty
data['Close']=data['Close'].str.replace(r",","").astype('float')
data['Open']=data['Open'].str.replace(r",","").astype('float')
data['High']=data['High'].str.replace(r",","").astype('float')
data['Low']=data['Low'].str.replace(r",","").astype('float')
# data['Volume']=data['Volume'].astype(str)
# data['Chg%']=data['Chg%'].astype(str)
data

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_16184\1499472924.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome('D:\chromedriver_win32.exe')

           Date     Open     High      Low    Close   Volume    Chg%
0    2023-07-13  3297.00  3303.35  3245.00  3257.15    1.05M  -1.05%
1    2023-07-12  3272.00  3307.00  3235.00  3291.65    1.57M   1.19%
2    2023-07-11  3197.95  3262.00  3184.05  3253.05    1.43M   2.49%
3    2023-07-10  3210.00  3232.00  3160.00  3173.90    1.78M  -0.34%
4    2023-07-07  3210.55  3248.00  3176.00  3184.80    2.10M  -1.16%
...         ...      ...      ...      ...      ...      ...     ...
1008 2019-06-19  1983.00  2009.90  1970.00  1979.07  847.59K   0.30%
1009 2019-06-18  1975.00  1993.80  1956.58  1973.18  550.87K   0.02%
1010 2019-06-17  1975.01  1999.00  1963.80  1972.79  486.34K  -0.20%
1011 2019-06-14  2000.00  2014.99  1960.00  1976.70  480.61K  -1.96%
1012 2019-06-13  2004.80  2020.00  1990.00  2016.20  597.65K   0.28%

[1013 rows x 7 columns]

In [59]:
data.to_excel('Eicher_Motors_Ltd_(EICH).xlsx', index=False)

# Dr. Reddyâ€™s Laboratories Ltd (REDY)

In [60]:
driver = webdriver.Chrome('D:\chromedriver_win32.exe')
url='https://in.investing.com/equities/dr-reddys-laboratories-historical-data?end_date=1689246759&st_date=1560364200'
driver.get(url)
driver.maximize_window()
time.sleep(10)

content = driver.page_source
from bs4 import BeautifulSoup
soup = BeautifulSoup(content)



date=[]
for a in soup.findAll('td', attrs={'class':'col-rowDate'}):
    date_txt=a.find('span', attrs={'class':'text'})
    date.append(date_txt.text)
#Closing Prices
close=[]
for a in soup.findAll('td', attrs={'class':'col-last_close'}):
    close_txt=a.find('span', attrs={'class':'text'})
    close.append(close_txt.text)
#Open Prices
open=[]
for a in soup.findAll('td', attrs={'class':'col-last_open'}):
    open_txt=a.find('span', attrs={'class':'text'})
    open.append(open_txt.text)
#High Prices
high=[]
for a in soup.findAll('td', attrs={'class':'col-last_max'}):
    high_txt=a.find('span', attrs={'class':'text'})
    high.append(high_txt.text)
#Low Prices
low=[]
for a in soup.findAll('td', attrs={'class':'col-last_min'}):
    low_txt=a.find('span', attrs={'class':'text'})
    low.append(low_txt.text)
#Volume
volume=[]
for a in soup.findAll('td', attrs={'class':'col-volume'}):
    volume_txt=a.find('span', attrs={'class':'text'})
    volume.append(volume_txt.text)
#Chnge%
chg=[]
for a in soup.findAll('td', attrs={'class':'col-change_percent'}):
    chg_txt=a.find('span', attrs={'class':'text'})
    chg.append(chg_txt.text)
    
volume = volume[:len(date)]
# Prepare DataFrame
df_nifty= pd.DataFrame({'Date':date,'Open':open,'High':high,'Low':low,'Close':close,'Volume':volume,'Chg%':chg})
df_nifty['Date'] = df_nifty['Date'].str.replace(r",","")
df_nifty['Date']=pd.to_datetime(df_nifty.Date , format = '%b %d %Y')
df_nifty=df_nifty.drop_duplicates(subset="Date") #droping dupicate data 
data = df_nifty
data['Close']=data['Close'].str.replace(r",","").astype('float')
data['Open']=data['Open'].str.replace(r",","").astype('float')
data['High']=data['High'].str.replace(r",","").astype('float')
data['Low']=data['Low'].str.replace(r",","").astype('float')
# data['Volume']=data['Volume'].astype(str)
# data['Chg%']=data['Chg%'].astype(str)
data

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_16184\2891364338.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome('D:\chromedriver_win32.exe')

           Date     Open     High      Low    Close   Volume    Chg%
0    2023-07-13  5190.00  5199.35  5134.90  5142.45  406.98K  -0.90%
1    2023-07-12  5150.00  5198.95  5130.00  5189.00  240.72K   0.45%
2    2023-07-11  5144.00  5215.00  5113.55  5165.85  211.36K   0.21%
3    2023-07-10  5194.95  5215.00  5145.00  5154.95  200.73K  -0.53%
4    2023-07-07  5230.00  5273.15  5110.00  5182.50  554.34K  -0.94%
...         ...      ...      ...      ...      ...      ...     ...
1008 2019-06-19  2584.00  2590.85  2537.50  2550.85  845.60K  -1.56%
1009 2019-06-18  2555.00  2600.00  2542.05  2591.25  665.06K   1.45%
1010 2019-06-17  2567.00  2580.45  2538.60  2554.15  526.92K  -0.43%
1011 2019-06-14  2582.00  2582.00  2529.00  2565.15  689.21K  -0.89%
1012 2019-06-13  2591.00  2602.60  2557.40  2588.25  368.69K  -0.06%

[1013 rows x 7 columns]

In [61]:
data.to_excel('Dr_Reddyâ€™s_Laboratories_Ltd_(REDY).xlsx', index=False)

# Divi's Laboratories Ltd. (DIVI)

In [62]:
driver = webdriver.Chrome('D:\chromedriver_win32.exe')
url='https://in.investing.com/equities/divis-laboratories-historical-data?end_date=1689246943&st_date=1560364200'
driver.get(url)
driver.maximize_window()
time.sleep(10)

content = driver.page_source
from bs4 import BeautifulSoup
soup = BeautifulSoup(content)



date=[]
for a in soup.findAll('td', attrs={'class':'col-rowDate'}):
    date_txt=a.find('span', attrs={'class':'text'})
    date.append(date_txt.text)
#Closing Prices
close=[]
for a in soup.findAll('td', attrs={'class':'col-last_close'}):
    close_txt=a.find('span', attrs={'class':'text'})
    close.append(close_txt.text)
#Open Prices
open=[]
for a in soup.findAll('td', attrs={'class':'col-last_open'}):
    open_txt=a.find('span', attrs={'class':'text'})
    open.append(open_txt.text)
#High Prices
high=[]
for a in soup.findAll('td', attrs={'class':'col-last_max'}):
    high_txt=a.find('span', attrs={'class':'text'})
    high.append(high_txt.text)
#Low Prices
low=[]
for a in soup.findAll('td', attrs={'class':'col-last_min'}):
    low_txt=a.find('span', attrs={'class':'text'})
    low.append(low_txt.text)
#Volume
volume=[]
for a in soup.findAll('td', attrs={'class':'col-volume'}):
    volume_txt=a.find('span', attrs={'class':'text'})
    volume.append(volume_txt.text)
#Chnge%
chg=[]
for a in soup.findAll('td', attrs={'class':'col-change_percent'}):
    chg_txt=a.find('span', attrs={'class':'text'})
    chg.append(chg_txt.text)
    
volume = volume[:len(date)]
# Prepare DataFrame
df_nifty= pd.DataFrame({'Date':date,'Open':open,'High':high,'Low':low,'Close':close,'Volume':volume,'Chg%':chg})
df_nifty['Date'] = df_nifty['Date'].str.replace(r",","")
df_nifty['Date']=pd.to_datetime(df_nifty.Date , format = '%b %d %Y')
df_nifty=df_nifty.drop_duplicates(subset="Date") #droping dupicate data 
data = df_nifty
data['Close']=data['Close'].str.replace(r",","").astype('float')
data['Open']=data['Open'].str.replace(r",","").astype('float')
data['High']=data['High'].str.replace(r",","").astype('float')
data['Low']=data['Low'].str.replace(r",","").astype('float')
# data['Volume']=data['Volume'].astype(str)
# data['Chg%']=data['Chg%'].astype(str)
data

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_16184\4232470296.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome('D:\chromedriver_win32.exe')

           Date     Open     High      Low    Close   Volume    Chg%
0    2023-07-13  3646.00  3674.65  3610.05  3625.80  227.04K  -0.21%
1    2023-07-12  3650.00  3670.00  3596.75  3633.50  320.76K  -0.22%
2    2023-07-11  3661.00  3697.00  3632.45  3641.45  257.21K   0.04%
3    2023-07-10  3685.00  3685.00  3590.75  3639.95  289.38K  -0.78%
4    2023-07-07  3717.00  3740.00  3661.15  3668.65  489.07K  -1.83%
...         ...      ...      ...      ...      ...      ...     ...
1008 2019-06-19  1550.00  1554.85  1533.30  1540.40  420.31K  -0.17%
1009 2019-06-18  1545.00  1552.00  1525.00  1543.00  548.51K   0.16%
1010 2019-06-17  1539.30  1582.90  1532.40  1540.50    1.05M   1.20%
1011 2019-06-14  1542.00  1550.00  1495.05  1522.30  993.18K  -1.57%
1012 2019-06-13  1539.95  1554.40  1517.00  1546.55  597.84K   0.78%

[1013 rows x 7 columns]

In [63]:
data.to_excel('Divis_Laboratories_Ltd_(DIVI).xlsx', index=False)

# Coal India Ltd (COAL)

In [64]:
driver = webdriver.Chrome('D:\chromedriver_win32.exe')
url='https://in.investing.com/equities/coal-india-historical-data?end_date=1689247217&st_date=1560364200'
driver.get(url)
driver.maximize_window()
time.sleep(10)

content = driver.page_source
from bs4 import BeautifulSoup
soup = BeautifulSoup(content)



date=[]
for a in soup.findAll('td', attrs={'class':'col-rowDate'}):
    date_txt=a.find('span', attrs={'class':'text'})
    date.append(date_txt.text)
#Closing Prices
close=[]
for a in soup.findAll('td', attrs={'class':'col-last_close'}):
    close_txt=a.find('span', attrs={'class':'text'})
    close.append(close_txt.text)
#Open Prices
open=[]
for a in soup.findAll('td', attrs={'class':'col-last_open'}):
    open_txt=a.find('span', attrs={'class':'text'})
    open.append(open_txt.text)
#High Prices
high=[]
for a in soup.findAll('td', attrs={'class':'col-last_max'}):
    high_txt=a.find('span', attrs={'class':'text'})
    high.append(high_txt.text)
#Low Prices
low=[]
for a in soup.findAll('td', attrs={'class':'col-last_min'}):
    low_txt=a.find('span', attrs={'class':'text'})
    low.append(low_txt.text)
#Volume
volume=[]
for a in soup.findAll('td', attrs={'class':'col-volume'}):
    volume_txt=a.find('span', attrs={'class':'text'})
    volume.append(volume_txt.text)
#Chnge%
chg=[]
for a in soup.findAll('td', attrs={'class':'col-change_percent'}):
    chg_txt=a.find('span', attrs={'class':'text'})
    chg.append(chg_txt.text)
    
volume = volume[:len(date)]
# Prepare DataFrame
df_nifty= pd.DataFrame({'Date':date,'Open':open,'High':high,'Low':low,'Close':close,'Volume':volume,'Chg%':chg})
df_nifty['Date'] = df_nifty['Date'].str.replace(r",","")
df_nifty['Date']=pd.to_datetime(df_nifty.Date , format = '%b %d %Y')
df_nifty=df_nifty.drop_duplicates(subset="Date") #droping dupicate data 
data = df_nifty
data['Close']=data['Close'].str.replace(r",","").astype('float')
data['Open']=data['Open'].str.replace(r",","").astype('float')
data['High']=data['High'].str.replace(r",","").astype('float')
data['Low']=data['Low'].str.replace(r",","").astype('float')
# data['Volume']=data['Volume'].astype(str)
# data['Chg%']=data['Chg%'].astype(str)
data

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_16184\2561996730.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome('D:\chromedriver_win32.exe')

           Date    Open    High     Low   Close  Volume    Chg%
0    2023-07-13  235.05  235.20  229.05  230.05  20.20M  -1.86%
1    2023-07-12  235.00  237.30  233.65  234.40  11.31M   0.17%
2    2023-07-11  233.80  235.80  233.50  234.00  10.78M   0.11%
3    2023-07-10  235.00  235.60  232.85  233.75   6.22M  -0.11%
4    2023-07-07  232.00  235.85  231.70  234.00   6.39M  -0.26%
...         ...     ...     ...     ...     ...     ...     ...
1008 2019-06-19  260.50  262.60  255.15  257.05   2.98M  -1.27%
1009 2019-06-18  255.45  260.90  255.25  260.35   4.17M   1.98%
1010 2019-06-17  255.00  257.65  250.70  255.30   5.01M   0.06%
1011 2019-06-14  255.35  256.90  253.45  255.15   2.81M  -0.18%
1012 2019-06-13  256.00  258.70  253.60  255.60   3.43M  -0.54%

[1013 rows x 7 columns]

In [65]:
data.to_excel('Coal_India_Ltd_(COAL).xlsx', index=False)

# Cipla Ltd. (CIPL)

In [67]:
driver = webdriver.Chrome('D:\chromedriver_win32.exe')
url='https://in.investing.com/equities/cipla-historical-data?end_date=1689247480&st_date=1560364200'
driver.get(url)
driver.maximize_window()
time.sleep(10)

content = driver.page_source
from bs4 import BeautifulSoup
soup = BeautifulSoup(content)



date=[]
for a in soup.findAll('td', attrs={'class':'col-rowDate'}):
    date_txt=a.find('span', attrs={'class':'text'})
    date.append(date_txt.text)
#Closing Prices
close=[]
for a in soup.findAll('td', attrs={'class':'col-last_close'}):
    close_txt=a.find('span', attrs={'class':'text'})
    close.append(close_txt.text)
#Open Prices
open=[]
for a in soup.findAll('td', attrs={'class':'col-last_open'}):
    open_txt=a.find('span', attrs={'class':'text'})
    open.append(open_txt.text)
#High Prices
high=[]
for a in soup.findAll('td', attrs={'class':'col-last_max'}):
    high_txt=a.find('span', attrs={'class':'text'})
    high.append(high_txt.text)
#Low Prices
low=[]
for a in soup.findAll('td', attrs={'class':'col-last_min'}):
    low_txt=a.find('span', attrs={'class':'text'})
    low.append(low_txt.text)
#Volume
volume=[]
for a in soup.findAll('td', attrs={'class':'col-volume'}):
    volume_txt=a.find('span', attrs={'class':'text'})
    volume.append(volume_txt.text)
#Chnge%
chg=[]
for a in soup.findAll('td', attrs={'class':'col-change_percent'}):
    chg_txt=a.find('span', attrs={'class':'text'})
    chg.append(chg_txt.text)
    
volume = volume[:len(date)]
# Prepare DataFrame
df_nifty= pd.DataFrame({'Date':date,'Open':open,'High':high,'Low':low,'Close':close,'Volume':volume,'Chg%':chg})
df_nifty['Date'] = df_nifty['Date'].str.replace(r",","")
df_nifty['Date']=pd.to_datetime(df_nifty.Date , format = '%b %d %Y')
df_nifty=df_nifty.drop_duplicates(subset="Date") #droping dupicate data 
data = df_nifty
data['Close']=data['Close'].str.replace(r",","").astype('float')
data['Open']=data['Open'].str.replace(r",","").astype('float')
data['High']=data['High'].str.replace(r",","").astype('float')
data['Low']=data['Low'].str.replace(r",","").astype('float')
# data['Volume']=data['Volume'].astype(str)
# data['Chg%']=data['Chg%'].astype(str)
data

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_16184\3727320045.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome('D:\chromedriver_win32.exe')

           Date     Open     High      Low    Close   Volume    Chg%
0    2023-07-13  1026.05  1036.00  1018.45  1020.70    1.42M  -0.15%
1    2023-07-12  1025.00  1032.90  1019.95  1022.20    1.16M  -0.54%
2    2023-07-11  1018.95  1033.50  1018.00  1027.80  814.51K   1.09%
3    2023-07-10  1024.00  1026.00  1013.00  1016.70    1.14M  -0.39%
4    2023-07-07  1009.45  1028.75   998.05  1020.65    1.91M  -0.06%
...         ...      ...      ...      ...      ...      ...     ...
1008 2019-06-19   550.60   551.90   532.55   533.70    1.14M  -2.54%
1009 2019-06-18   545.20   555.50   545.05   547.60    1.26M   0.45%
1010 2019-06-17   555.50   556.60   543.85   545.15    1.27M  -1.88%
1011 2019-06-14   560.15   564.45   554.15   555.60    1.81M  -1.59%
1012 2019-06-13   560.05   566.60   559.25   564.60    1.59M   0.53%

[1013 rows x 7 columns]

In [68]:
data.to_excel('Cipla_Ltd_(CIPL).xlsx', index=False)